 <div class="roomconfig" style = "width:1000px; margin-top:-800px;">
    <h2>Room Setting</h2>
    <form name="form" ng-submit="vm.update()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="roomname">Room name</label>
            <input type="text" name="roomName" id="roomname" class="form-control" ng-model="vm.roomname" required />
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="roomname">Participation Number</label>
            <input type="text" name="participationnum" id="participationnum" class="form-control" ng-model="participationnum" required />
        </div>
        <div class = "testarea">
        	<label for="roomDescription">Room Description</label>
			<textarea rows="10" name = "vm.roomdescription" id = "vm.roomdescription" style = "width:700px" ng-model="vm.roomdescription"></textarea>
		</div>
		<div>
			<button type="submit" class="btn btn-primary">Complete</button>
		</div>
    </form>
</div> 


