<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.attendU.dev.microservices.activity.ActivityMapper">

	<insert id="registerActivity" parameterType="com.attendU.dev.microservices.bean.Activity">
		insert into activities (aid, Name, Date, acid)
		values (#{aid}, #{Name}, #{Date}, #{acid})
	</insert>

 	<select id="getActivitybyId" resultType="com.attendU.dev.microservices.bean.Activity">
		select * from activities where aid = #{aid}
	</select>

	<select id="getActivitybyName" resultType="com.attendU.dev.microservices.bean.Activity">
		select * from activities where Name=#{Name}
	</select>

</mapper>