<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.attendU.dev.microservices.room.RoomMapper">

     <select id="findRoomById" parameterType="int" resultType="Room">
    	select * from Rooms where rid =#{rid}
     </select>
     
     <select id="findRoomByAdmin" parameterType="int" resultType="Room">
     	select * from Rooms where adminId =#{adminId}
     </select>
     
     <insert id="createRoom" parameterType="Room" useGeneratedKeys="true" keyProperty="rid">  
        insert into Rooms (name, participantNum, rcid) 
        values(#{name},#{participantNum},#{rcid})  
     </insert>  
     
     <delete id="removeRoom" parameterType="int">  
        delete from Rooms where rid = #{rid}  
     </delete> 

	 <update id="updateRoom" parameterType="Room">  
        update Rooms set name = #{room_name},participantNum= #{participantNum}
        ,rcid=#{rcid}  where rid = #{rid}  
    </update>  

</mapper>