<div class="col-md-6 col-md-offset-3">
  	<ul class="nav nav-pills">
  		<li>
    		<a href="#">Home</a>
  		</li>
  		<li><a href="#">Rooms</a></li>
  		<li class="active"><a href="#">Activity</a></li>
	</ul>
    <h3 style = "color:#FFFFFF;">Activities for {{vm.room.name}}</h3>
    <button type="button" class="btn btn-primary" ng-click="" ng-disable="vm.user==null"><a ui-sref="home.createRoom" style = "color:white;">Add new activity</a></button>
    <!-- show room info -->
    <div class='room_information'>
         <span><h5 style = "color:#FFFFFF;">Room Name: {{vm.room.name}}</h5></span>  
         <span>{{vm.room.description}}</span>
    </div>

    <!-- buttons -->
    <div class="wrapper" style = "height:70px; width: 100%" ng-show="vm.room.isAdmin">
        <a style="font-size: 20px;" ng-click="vm.register()"><p style="vertical-align: middle"><i class="material-icons md-36" style="vertical-align: middle">add</i>Add Activity</p></a>
    </div>
    
    <!-- show activity list -->
    <div class = "activitytable">
        <table class = "table" style = "color:#FFFFFF;margin-top:10px; font-size:15px;">
            <tr>
                <td width = "50px">Activity ID</td>
                <td>Activity name</td>
                <!--  <td>Starting Time</td> -->
                <td>Number of participates</td>
                <td>Subscribe</td>
                <td>Check in</td>
                <td>Absent</td>
            </tr>
            <tr ng-repeat="x in vm.activity">
                <td width=160px>{{x.aid}}</td>
                <td width=160px>{{x.name}}</td>
                <td width=160px></td> <!-- originally its {{x.date}} -->
                <td width=160px>
                    <i class="material-icons" ng-show="vm.room.isAdmin"><a ng-click="vm.startActivity(true, x.aid)">toggle_on</a></i>
                    <i class="material-icons" ng-show="vm.room.isAdmin"><a ng-click="vm.startActivity(false, x.aid)">toggle_off</a></i>
                </td>
                <td width=160px>
                    <i class="material-icons" ng-show="vm.room.isAdmin"><a ng-click="">check_box</a></i>
                    <i class="material-icons" ng-show="vm.room.isAdmin"><a ng-click="">check_box_outline_blank</a></i>
                </td>
                <td width=160px>
                    <i class="material-icons" ng-show="vm.room.isAdmin"><a ng-click="">indeterminate_check_box</a></i>
                </td>
            </tr>
        </table>
    </div>
</div>
