<div class="col-md-6 col-md-offset-3">
  	<ul class="nav nav-pills">
  		<li>
    		<a href="#">Home</a>
  		</li>
  		<li><a href="#">Rooms</a></li>
  		<li class="active"><a href="#">Activity</a></li>
	</ul>
    <h3 style = "color:#FFFFFF;">Activities for {{vm.room.name}}</h3>
     <!-- buttons -->
    <div class="wrapper" style = "width: 100%" ng-show="vm.room.isAdmin">
        <a style="font-size: 20px;" ng-click="vm.register()"><p style="vertical-align: middle"><i class="material-icons md-36" style="vertical-align: middle">add</i>Add Activity</p></a>
    </div>
    <!-- show room info -->
    <div class='room_information'>
         <span><h5 style = "color:#FFFFFF;">Room name: </h5></span>  
         <textarea rows = "1"  disabled>{{vm.room.name}}</textarea>
         <span><h5 style = "color:#FFFFFF;">Room description: </h5></span>
         <textarea rows="3" style = "width:700px; background-color:”#E6E6E6“ color:#000000;" disabled> {{vm.room.description}} </textarea>
   
    </div>
    
    <!-- show activity list -->
    <div class = "activtable">
        <table class = "table" style = "color:#FFFFFF;margin-top:10px; font-size:15px;">
            <tr>
                <td width = "160px">Activity ID</td>
                <td>Activity name</td>
                <!--  <td>Starting Time</td> -->
                <td>Attendance</td>
                <td>Subscribe</td>
                <td>Check in</td>
                <td>Absent</td>
            </tr>
            <tr ng-repeat="x in vm.activity">
                <td width=160px>{{x.aid}}</td>
                <td width=160px>{{x.name}}</td>
                <td width=160px></td> <!-- originally its {{x.date}} -->
                <td width=160px>
                    <i class="material-icons" ng-show="vm.room.isAdmin"><a ng-click="vm.startActivity(true, x.aid)">toggle_on</a></i>
                    <i class="material-icons" ng-show="vm.room.isAdmin"><a ng-click="vm.startActivity(false, x.aid)">toggle_off</a></i>
                </td>
                <td width=160px>
                    <i class="material-icons" ng-show="vm.room.isAdmin"><a ng-click="">check_box</a></i>
                    <i class="material-icons" ng-show="vm.room.isAdmin"><a ng-click="">check_box_outline_blank</a></i>
                </td>
                <td width=160px>
                    <i class="material-icons" ng-show="vm.room.isAdmin"><a ng-click="">indeterminate_check_box</a></i>
                </td>
            </tr>
        </table>
    </div>
</div>
