<div class="createactivity">
    <h2 style = "color:#FFFFFF;">Create Activity</h2>
    <form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="activityname" style = "color:#FFFFFF;">Activity name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="wrx.activity.name" required />
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Activity name is required</span>
        </div>
		
		
		
		<div class="form-group" ng-class="{ 'has-error': form.cell.$dirty}">
            <label for="activityname" style = "color:#FFFFFF;">Date</label>
            <input type="text" name="date" id="date" class="form-control" ng-model="wrx.activity.date" />
            <span ng-show="form.cell.$dirty && form.cell.$error.required" class="help-block"></span>
        </div>
        
        
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || wrx.dataLoading" class="btn btn-primary" style = "color:#FFFFFF;">Create Activity</button>
            <img ng-if="wrx.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#/home/activity" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>