<div class = "container" style = "background-color:#000000; height:800px;; width:100%;">

<div class = "navbar">    
	<div class="navbar-wrapper">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="brand" href="/#/index">AttendU</a>
              <ul class="nav">
                <li class="active"><a href="/#/index">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
              <form class="navbar-form pull-left">
                <input type="text" class="span2">
                <button type="submit" class="btn">Search rooms</button>
              </form>

              <p class = "navbar-text pull-right" style = "font-size:15px;><font color = "#FFFFFF">
                <a href="/#/login" style = "color:#FFFFFF">Log in or Sign up</a></font></p>

          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
    </div><!-- /.navbar-wrapper -->
</div>

<div class="login" style = "text-align:center; margin-top:90px; color:#000000; background-color:#FFFFFF; width:400px; height:600px; margin-left: auto; margin-right: auto;">
	<br/>
	<div style = "margin-top:50px;">
    	<h1>User Login</h1>
    </div>
    <form name="form" ng-submit="vm.login()" role="form" style = "margin-top:50px;">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username"><h4>Username</h4></label>
            <input style = "height:22px;" type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
            <!-- <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span> -->
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password"><h4>Password</h4></label>
            <input style = "height:22px;" type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
            <!-- <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>-->
        </div>
        <div>
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-large btn-primary" style="width:230px; margin-top:20px;">Login</button> 
        </div>
        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        
        <div>
        	<br/><br/><br/><br/><br/>
        	<p style = "font-size:15px;">Don't have an account?<a href="/#/register" class="btn btn-link" style = "font-size:15px;">Register</a></p>
        	
        </div>
    </form>
</div>

</div>﻿
